# =========================================
# Environment / Secrets
# =========================================
.env

# =========================================
# Node.js
# =========================================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================================
# Python
# =========================================
venv/
.venv/
__pycache__/
*.py[cod]
*.pyo

# =========================================
# Python project temporary files
# =========================================
AI-services/temp/

# =========================================
# Build output
# =========================================
dist/
build/

# =========================================
# Runtime uploads
# =========================================
Backend/uploads/*
Backend/uploads/.gitkeep

AI-services/temp/*

# =========================================
# OS files
# =========================================
.DS_Store
Thumbs.db

# =========================================
# VS Code
# =========================================
.vscode/*
!.vscode/extensions.json